* {
    outline: none;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(74,74,74,1) 50%);
}

#button0 {
    align: center;
    font-size: 40px;
}

#screen0 {
    width: 100%;
    clear: both;
}
